<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MarkThis Demo Button</title>
<link rel="canonical" href="http://markthis.org/api/button.html">
</head>
<body>

  <a href="//markthis.org/share" class="markthis-button"
     data-url="https://github.com/project-bitmark/?smid=tw-share"
     data-destination="https://twitter.com/ProjectBitmark"
     data-title="Project Bitmark on GitHub"
     data-lang="en"
     data-canonical="https://github.com/project-bitmark/"
     data-tags="bitmark, cryptocurrency, github"
     data-size="small"
     data-layout="vertical">
   MarkThis
  </a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
(function(window, $) {

  var testdata = {
    url: "https://github.com/project-bitmark/?smid=tw-share",
    destination: "https://twitter.com/ProjectBitmark",
    title: "Project Bitmark on GitHub",
    lang: "en",
    canonical: "https://github.com/project-bitmark/",
    tags: "bitmark, cryptocurrency, github",
    size: "small",
    layout: "vertical"
  };
  
  var document = window.document;
  
  var M = {};

  var MT_button = M.button = function(_data, _request) {
        
    var qs = function(x) { return document.querySelector(x) },
    scheme = (/^http\:$/.test(window.location.protocol) ? 'http' : 'https'),
    canonical = qs('[rel=canonical]'),
    title = qs('title'),
    lang = qs('html').getAttribute('lang'), // assumes html element is always present, verify this
    destination = qs('[rel=me]'),
    serviceURI = _request || scheme + '://markthis.org/share',
    
    data = {
      url: _data.url || (canonical && canonical.href) || document.location.href || "",
      destination: _data.destination || (destination && destination.href) || "",
      title: _data.title || (title && title.text) || "",
      lang: _data.lang || lang || "",
      canonical: _data.canonical || "",
      tags: _data.tags || ""
    },
    
    display = {
      size: _data.size || "medium",
      layout: _data.layout || "horizontal"
    };
 
    serviceURI += '?' + $.param(data);
    
    console.log(serviceURI);
    
    return data;
  }
  
  $(document).ready(function() {
	  $('.markthis-button').each(function() {
	    var placeholder = $(this), data = $(this).data();
	    console.log( MT_button(data, placeholder.href) );
	  });
  });
})(window, jQuery);
</script>
</body>
</html>